#################################################################
#
# General settings for all tests
#
#################################################################

# Base directory for the AutoCMS system installation
export AUTOCMS_BASEDIR=/home/appelte1/autocms_dev

# Web directory for output HTML files and graphs 
export AUTOCMS_WEBDIR=/home/appelte1/web/autocms_dev

# User and group name for job submission
export AUTOCMS_UNAME=appelte1
export AUTOCMS_GNAME=cms_stage2

# Array of test names to run. This should be delimited by ":"
export AUTOCMS_TEST_NAMES=example_test:skim_test

# time to wait between job submissions. This should be given in 
# minutes either as a divisor of 60 (i.e. 1,2,3,5,6,10,12,...) or 
# as a multiple of 60. If multiple different tests are to be run, these 
# times should be given as a ":" delimited list.
export AUTOCMS_TEST_SUBWAITS=120:10  

# how often to harvest job statistics (in hours)  
# for long term performance monitoring
# this should be a divisor of 24 (i.e. 1,2,3,4,...,12 )  
export AUTOCMS_STAT_INTERVAL=6

# maximum number of jobs to hold in the queue
export AUTOCMS_MAXENQUEUE=20

# Number of days to wait before deleting logs
export AUTOCMS_LOG_LIFETIME=5

# Max wallclock time for cmsRun before timeout (seconds)
# Note that this should be shorter than the total time for the PBS 
# script (default 12 hours). Make sure to change the PBS wall clock
# allowance if more time is needed
export AUTOCMS_CMSRUN_TIMEOUT=14400

# LFS directory for stageout
export AUTOCMS_STAGEOUT_DIR=/cms/store/autocms/autocms_dev/skim_test

# print logs of successful jobs to webpage? (0 for no, 1 for yes) 
export AUTOCMS_PRINT_SUCCESS=1

# name of the site
export AUTOCMS_SITE_NAME=T2_US_Vanderbilt

# The following strings are tokens to be put in the beginning
# of lines in the test pbs script for the logharvester to read 
# to determine the job status and properties.
#
# More can be added if new information is needed from the job.
# AutoCMS will automatically add an attribute to the JobRecord
# corresponding to that token.
#
# If you make a new test pbs script, you could make a new token as
#
# export AUTOCMS_cpuTemperature_TOKEN="AutoCMS: cpu temperature is "
#
# Then in the test pbs script you could add
#
# echo "${AUTOCMS_cpuTemperature_TOKEN}74"
#
# Then the JobRecord will have the attribute "cpuTemperature" with value "74"
#
# The tokens given below are special and are always present in the JobRecord.
# startTime, endTime, and errorCode are stored as integers. SUCCESS does not
# set an attribute, but is required to be present in the output for a job to be
# counted as successful.
export AUTOCMS_startTime_TOKEN="AutoCMS: timestamp_start "
export AUTOCMS_endTime_TOKEN="AutoCMS: timestamp_end "
export AUTOCMS_node_TOKEN="AutoCMS: worker node "
export AUTOCMS_exitCode_TOKEN="AutoCMS: exit code "
export AUTOCMS_errorString_TOKEN="AutoCMS ERROR Message: "
export AUTOCMS_SUCCESS_TOKEN="AutoCMS: ALL TESTS SUCCESSFUL"

#################################################################
#
# Settings used by the example_test
#
#################################################################

# additional tokens for example_test

export AUTOCMS_numProc_TOKEN="AutoCMS: Number of processes on this node is "
export AUTOCMS_diceSum_TOKEN="AutoCMS: I rolled a "

#################################################################
#
# Settings common to CMSSW/LIO-based and possibly other tests
#
#################################################################

# location of Vanderbilt stageout scripts
# these may be changed for performing development 
# on the stageout scripts.
export AUTOCMS_VANDYCP=/usr/local/cms-stageout/vandyCpDev.sh
export AUTOCMS_VANDYRM=/usr/local/cms-stageout/vandyRmDev.sh

# grid proxy and/or certificate location. This may needed
# for the T2 Vanderbilt stageout scripts, which need to be 
# able to access your grid DN from the worker node.
#
# export X509_USER_PROXY=/home/username/.proxy/x509up_uusername
# export X509_USER_CERT=/home/username/.globus/usercert.pem 

# token for input file
export AUTOCMS_inputFile_TOKEN="AutoCMS: input file "

# CMSSW version 
export AUTOCMS_CMSSW_VERSION=CMSSW_5_3_20

#################################################################
#
# Settings used by skim_test
#
#################################################################

# running time above which the reporter will print a warning for a job
# in seconds
export SKIMTEST_RUNTIME_WARNING=3600

# Max wallclock time for cmsRun before timeout (seconds)
# Note that this should be shorter than the total time for the PBS 
# script (default 12 hours). Make sure to change the PBS wall clock
# allowance if more time is needed
export SKIMTEST_CMSRUN_TIMEOUT=14400

# LFS directory for stageout
export SKIMTEST_STAGEOUT_DIR=/cms/store/autocms/autocms_dev/skim_test

# number of other cmsRun processes running on the node
# averaged from before and after cmsRun is executed
export AUTOCMS_cmsRunProcCount_TOKEN="AutoCMS: Number of other cmsRun processes "
